.small-card-container {
    height: 400px;
    margin-bottom: 10px;
    
}
.small-card{
    height: auto;
    width: 300px;
    margin-bottom: 15px;
    
}

.small-img{
    width:auto;
    height: 200px;
}
.card-body{
    height: 200px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.car-btn{
    color: var(--Light-tx-color);
    margin-right: 20px;
  background-color: var(--Dark-bg);
  border-radius: 50px;
  border: 1px solid var(--Dark-bg);
  
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:start !important;
  padding-top: 15px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.car-btn:hover{
    color: var(--Light-bg);
    background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-grad{
    background-image: linear-gradient(
    to right,
    #7CD9A1,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}