.carousel {
  background: var(--Dark-Mint);
  margin-top: 50px;
  margin: auto;
  padding: auto;
  max-width: 800px;
  max-height: 600px;
}
img{
  max-width:  800px;
  max-height: 600px;
}
.carousel-item{
  max-width:  800px;
  min-height: 600px;
}
