
.h1-container {
    background-color: var(--Mint);
    width: 101.75%;
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 9px;
    margin-left: -12px;
}
h1 {
    text-align: center;
    font-size: var(--H2-size);
    
}

    
.form {
    background-color: var(--Light-bg);
    border-radius: 25px;
}
.btn{
    background-color: var(--Dark-bg);
    border-radius: 50px;
    border: 1px solid var(--Dark-bg);
}