.navImage {
  background-position: center bottom;
  background-size: cover;
  transform: rotateX(180deg);
  height: 130px;
}
.login {
  float: right;
  transform: rotateX(180deg);
}
.register {
  margin-right: -300px;
  transform: rotateX(180deg);
}
.search {
  width: 400px;
  border-radius: 20px;
  border-style: hidden;
  transform: rotateX(180deg);
  margin-inline-start: -220px;
}
.contact {
  float: right;
  transform: rotateX(180deg);
}
.category {
  float: right;
  transform: rotateX(180deg);
  color: green;
}
h2 {
  transform: rotateX(180deg);
}
