.navWaves {
  background-position: center bottom;
  background-size: cover;
  transform: rotateX(180deg);
  height: 130px;
}
.navMoon{
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
}
.navbar{
  background-color: #7CD9A1 !important;
  height: 133px !important;
}
.login {
  float: right;
  
  
}
.register {
  
}
.search {
  width: 400px;
  border-radius: 20px;
  border-style: hidden;
  
}
.contact {
  
}
.category {
  color: var(--Dark-Mint);
}
h2 {
 
}
