.navWaves {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateX(180deg);
  height: 175px;
  margin-top: 70px;
}

.navMoon {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  background-size: 50px;
  background-repeat: no-repeat;
}
.navbar {
  background-color: #7cd9a1 !important;
  height: 75px !important;
  padding-bottom: 0px !important;
}
.logo {
  width: 150px;
  margin-top: 80px;
}
.glow {
  position: absolute;
  transform: translate(20px, 20px);
  width: 65px;
  height: 65px;
  z-index: -1;
  box-shadow: 0 0 100px rgb(251, 0, 255);
}

.login {
  float: right;
  margin-left: 20px;
  background-color: var(--Dark-bg);
  border-radius: 50px;
  border: 1px solid var(--Dark-bg);
}
.register {
  margin-right: 20px;
  background-color: var(--Dark-bg);
  border-radius: 50px;
  border: 1px solid var(--Dark-bg);
}
.search {
  width: 400px;
  border-radius: 20px;
  border-style: hidden;
}
.contact {
}
.category {
  color: var(--Dark-Mint);
}
.link {
  text-decoration: none;
}
.dropdown-item:hover {
  background-color: var(--Mint);
}
